<select id="TypeofValues" onchange={{fn this.sendDataToParent}}>
  <option value="">Select Type of Values</option>
  <option value="least">Least Values</option>
  <option value="top">Top Values</option>
</select>